#container {
  display: grid;
  grid-template-rows: auto auto 5em;
  grid-template-columns: minmax(25em, 1fr) 16em;
  grid-template-areas:
    "banner banner"
    "main hours"
    "footer footer";
}
header {
  grid-area: banner;
}
main {
  grid-area: main;
}
aside {
  grid-area: hours;
}
footer {
  grid-area: footer;
}

/* nav styles */
nav,
footer {
  font-family: verdana, sans-serif;
  background-color: #783f27;
}
nav ul li a:link,
nav ul li a:visited {
  color: #f9ab33;
}
nav ul li a:focus,
nav ul li a:hover,
nav ul li a:active {
  color: #fff;
}
nav ul {
  margin: 0;
}
nav ul li {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

/* header styles */
header {
  color: white;
  background: url(../imgs/croissants_banner.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
  height: 15em;
}
header p {
  font-style: italic;
  font-size: 1.2em;
  margin-top: -12px;
}
header h1 {
  margin-top: 1.5em;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 100%;
  background-color: lightgray;
  margin: 0;
}
/* main "products" styles */
main {
  font-family: "Stint Ultra Expanded", Georgia, serif;
  background-color: white;
  line-height: 1.8em;
  color: #555;
  padding: 1em;
  border: double 4px #eaddc4;
  border-radius: 25px;
  margin: 2.5%;
}
h3 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #7a0002;
  border-top: 1px solid;
  border-left: 3px solid;
  padding-left: 1em;
  margin-top: 2.5em;
}
p.more {
  font-family: verdana, sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  clear: left;
}
main img {
  float: left;
  margin: 0 1em 1em 0;
}

img[src*="bread"] {
  -webkit-shape-outside: ellipse(130px 95px at 50% 50%);
  shape-outside: ellipse(130px 95px at 50% 50%);
}

img[src*="muffin"] {
  margin-left: 50px;
  -webkit-shape-outside: circle(125px);
  shape-outside: circle(125px);
  -webkit-shape-outside: polygon(
    0px 0px,
    197px 0px,
    241px 31px,
    241px 68px,
    226px 82px,
    219px 131px,
    250px 142px,
    250px 158px,
    0px 158px
  );
  shape-outside: polygon(
    0px 0px,
    197px 0px,
    241px 31px,
    241px 68px,
    226px 82px,
    219px 131px,
    250px 142px,
    250px 158px,
    0px 158px
  );
}

/* aside "hours" styles */
aside {
  background: url(images/scallop.png) repeat-y left top;
  background-color: #f6f3ed;
  padding: 1em;
  padding-left: 45px;
  border-top-right-radius: 25px;
  margin: 1em 2.5% 0 10%;
}
/* misc styles */
footer {
  color: #eaddc4;
  text-align: center;
  font-size: 0.8em;
  padding: 1em;
}
#award {
  position: fixed;
  top: 30px;
  left: 50px;
}
h2 {
  font-family: "Stint Ultra Expanded", Georgia, serif;
}
.day {
  color: #783f27;
  font-family: verdana, sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li a {
  display: block;
  border: 1px solid;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  margin: 0.5em;
}
