body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 100%;
  background-color: lightgray;
  margin: 0;
}
header {
  color: white;
  background: url(../imgs/croissants_banner.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li a {
  display: block;
  border: 1px solid;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  margin: 0.5em;
}

nav ul li {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

/* aside "hours" styles */
aside {
  background: url(../imgs/scallop.png) repeat-y left top;
  background-color: #f6f3ed;
  padding: 1em;
  padding-left: 45px;
  border-top-right-radius: 25px;
  margin: 1em 2.5% 0 10%;
}
main {
  padding: 1em;
}
